.desktopsection {
    display: grid;
    grid-template-columns: 50% 50%;
}
.desktopicon {
    position: relative;
    background-image: url('Assest/images/illustration-laptop-desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: -15.4rem;
    max-width: 100%;
    height: auto;
    margin-top: 4rem;
}
