.features {
    background-color: var(--contentcolor);
    font-family: var(--font-overpass);
}

.features h1 {
    color: var(--Very-dark-blue);
}

.features_titles {
    position: absolute;
    margin: 10% 40%;
    font-size: 1.8rem;
}

.features_block {
    display: grid;
    grid-template-columns: 50% 50%;
}
.contentsection {
    margin: 35vh auto;
}
.contentsection article h1 {
    font-size: 1.8125rem;
    margin-bottom: 2.1875rem;
    font-family: var(--font-overpass);
    color: var(--Very-dark-blue);
}

.contentsection article p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--Very-dark-grayish-blue);
    margin-bottom: 3.375rem;
    font-family: var(--font-overpass);
}

.future_image {
    position: relative;

    background-image: url('Assest/images/illustration-editor-desktop.svg');

    background-size: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
    background-position-x: 15rem;
    background-position-y: 5rem;
    background-repeat: no-repeat;
}
