.header-container {
    margin: 0 auto;
    width: 100%;
    height: 37.1875vw;
    background-image: linear-gradient(
        to right,
        var(--very-light-red),
        var(--Light-red)
    );

    /* (first value applies to top-left corner, second value applies to top-right corner, third value applies to bottom-right corner, and fourth value applies to bottom-left corner): */

    border-radius: 0 0 0 100px;
}

.header {
    background-repeat: no-repeat;
    z-index: 1;
    background-position: -28.75vw -84.375vw;
    border-radius: 0 0 0 100px;
    position: relative;

    background-size: 200vw;
    width: 100%;
    height: 100%;

    /* aspect-ratio: attr(width) / attr(height); */
}
