.textinner {
    margin-top: 8.6875vw;
    font-family: var(--font-overpass);
}

.header_text {
    font-size: 3.1875rem;
    color: var(--White);

    text-align: center;
}
.header_text:nth-child(2) {
    line-height: 1.6875rem;
    font-size: 1rem;
    margin-top: 0;
}
.button_container {
    margin-top: 3.125rem;
    display: flex;
    justify-content: center;

    align-items: center;
}

.textbtn {
    font-family: var(--font-overpass);
    margin: 0 15px;
    padding: 1.125rem 1.4375rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    color: var(--White);
    background-color: transparent;
}

.btn1 {
    background-color: var(--White);
    color: var(--Light-red);
}

.btn2 {
    border: 0.8px var(--White) solid;
}

.btn1:hover {
    color: var(--White);
    background-color: transparent;
    border: 0.8px var(--White) solid;
}
.btn2:hover {
    background-color: var(--White);
    color: var(--Light-red);
}
