nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    padding: 0 4.0625vw 0 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--White);
    font-size: 1vw;
}

.arrow-light {
    transition: transform 0.3s ease-in-out;
}

nav a:hover {
    text-decoration: underline;
    color: var(--White);
}

.arrow-rotator {
    transform: rotate(180deg);
}
.nav-btn {
    border-radius: 5rem;
    padding: 1.125vw 2.5625vw;
    font-size: 1vw;
    font-weight: 600;
    color: var(--White);
    background-color: transparent;
    cursor: pointer;
}

.btn-signup {
    color: var(--Light-red);
    background-color: var(--White);
}

.nav-btn:hover {
    color: var(--White);
    background-color: var(--hoverwhite);
}

.arrow-light-span {
    padding-left: 0.3vw;
}

.dropdown {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    margin-left: -2.1875vw;
    padding: 20px 0;
    /* max-height: 50vw; */
    margin-top: 1rem;
    background-color: var(--White);
    border-radius: 0.4375rem;
    box-shadow: 4px 2px 8px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dropdown.open {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

.dropdown ul {
    display: flex;

    flex-direction: column;
}
.dropdown ul a {
    font-weight: 300;
    line-height: 2.5vw;
    font-family: var(--font-overpass);
    font-size: 1.1vw;
    padding-left: 2vw;

    text-decoration: none;
    color: var(--Very-dark-black-blue);
}

.dropdown ul a:hover {
    color: var(--Very-dark-blue);
    font-weight: 600;
}
