.state_infra {
    background-image: url('Assest/images/bg-pattern-circles.svg');
    background-color: var(--Very-dark-gray-blue);
    height: 25.0625rem;
    border-radius: 0 100px 0 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -23vw -60vw;
    display: grid;
    grid-template-columns: 45% 50%;
    max-width: 100%;
}
.phone_illstration {
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    margin-top: -5rem;
}
.state_infra_text {
    position: relative;
    margin: 7.5625rem 0;
}

.state_infra_text article h1 {
    color: var(--White);
    font-size: 2.5rem;
    font-family: var(--font-overpass);
}
.state_infra_text article p {
    color: var(--Grayish-blue);
    font-weight: 300;
    font-family: var(--font-overpass);
    font-size: 1.2rem;
}
